* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}
ol,ul {
    list-style: none
}
a{
	color:#fff;
}

img{width:100%;}
@font-face {      
font-family: 'FZKATJW';     
src: url('../font/FZKATJW.TTF');      
font-weight: normal;      
font-style: normal;   
}

html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}
body {
	font-size: 14px;
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}

/*弹出窗*/
#jHloader{position:fixed;z-index:99998;top:0;right:0;bottom:0;left:0;background:transparent}#jHloader .jHloader-body{position:absolute;top:50%;left:50%;width:156px;margin-top:-50px;margin-left:-78px;color:#fff;border-radius:10px;background:rgba(0,0,0,.8)}#jHloader .jHloader-icon{width:38px;height:38px}#jHloader .icon-close,#jHloader .icon-check,#jHloader .icon-more-horiz{font-size:24px;line-height:36px;display:block;width:38px;height:38px;text-align:center;border:2px solid #fff;border-radius:50%}#jHloader .jHloader-text{font-size:13px;line-height:1.2;padding:10px 0;padding-right:5px;padding-left:5px;text-align:center}#jHloader .jHloader-icon{width:100%;height:64px;padding:15px 43px 10px 43px}#jHloader .spinner-icon{width:38px;height:38px;-webkit-animation:loader-spinner 400ms linear infinite;animation:loader-spinner 400ms linear infinite;border:solid 2px transparent;border-top-color:#fff;border-left-color:#fff;border-radius:50%}@-webkit-keyframes loader-spinner{0%{ -webkit-transform:rotate(360deg)}
    100%{ -webkit-transform:rotate(0deg)}}@keyframes loader-spinner{0%{transform:rotate(360deg)}100%{transform:rotate(0deg)}}

.content{
	width: 320px;
	height: 568px;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -284px;
}
.wrap {
 	height: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

.full_page{
	height: 100%;
	position: relative;
}
.full_page .page1.current{
	background-image :url(../images/bg1.png);
	overflow: hidden;
}
.full_page .page2.current{
	background-image :url(../images/bg2.png);
	overflow: hidden;
}
.full_page .page3.current{
	background-image :url(../images/bg3.png);
	overflow: hidden;
}
.full_page .page4.current{
	background-image :url(../images/bg2.png);
	overflow: hidden;
}
.full_page .page{
	background-size: 100% 100%;
	max-width: 640px;
	min-width: 320px;
	height: 100%;
	width: 100%;
	min-height: 568px;
	position: absolute;
}
.full_page .page1,.full_page .page2{
    background-size: 100% 100%;
    max-width: 640px;
    min-width: 320px;
    margin-left: 0;
    left: 0;
    width: 100%;
}
.page1.current .header{
	position: relative;
	left: 0;
	top: 0;
}
.page1.current .title{
	position: absolute;
	top: 27px;
	left: 0;
	/*background: url(../images/title1.png) no-repeat;*/
	background-size: 204px 134px;
	width: 100%;
	/*height: 134px;*/
	z-index: 1
}
.page1.current .snow{
	position: absolute;
    top: 13px;
    left: 61%;
    background: url(../images/snow.png) no-repeat;
    background-size: 56px 50px;
    width: 56px;
    height: 50px;
    z-index: 0;
}
.page1.current .main {
    position: absolute;
    left: 0px;
    top: 22%;
}
.page1.current .main .tree{
	position: absolute;
	background: url(../images/tree.png) no-repeat;
	background-size: 253px 336px;
	width: 253px;
	height: 336px;
	z-index: 2
}
.page1.current .main .icon1,.page1.current .main .icon2,.page1.current .main .icon3{
	background: url(../images/icon1.png) no-repeat;
	background-size: 33px 35px;
	width: 33px;
	height: 35px;
	position: absolute;
	left: 78px;
	top: 68px;
	z-index: 2
}
.page1.current .main .icon2{
	left: 43px;
	top: 169px;
}
.page1.current .main .icon3{
	left: 140px;
	top: 228px;
}
.page1.current .main .icon4{
	background: url(../images/icon4.png) no-repeat;
	background-size: 35px 35px;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 135px;
	top: 114px;
	z-index: 2
}
.page1.current .main .icon5{
	background: url(../images/icon5.png) no-repeat;
	background-size: 32px 42px;
	width: 32px;
	height: 42px;
	position: absolute;
	left: 114px;
	top: 176px;
	z-index: 2
}
.page1.current .main .gift{
	background: url(../images/gift.png) no-repeat;
	background-size: 170px 85px;
	width: 170px;
	height: 85px;
	position: absolute;
	left: 35px;
	top: 258px;
	z-index: 2
}
.page1.current .main .people{
	background: url(../images/people.png) no-repeat;
	background-size: 125px 152px;
	width: 125px;
	height: 152px;
	position: absolute;
	left: 192px;
	top: 196px;
	z-index: 3
}
.page1.current .main .people{
	background: url(../images/people.png) no-repeat;
	background-size: 125px 152px;
	width: 125px;
	height: 152px;
	position: absolute;
	left: 192px;
	top: 196px;
	z-index: 3
}


.page1.current .main li{
	position: absolute;
	top:14%;
}
.page1.current .main li span{
	display: block;
}
.page1.current .main .tears{
	background: url(../images/tears.png) no-repeat;
    background-size: 70px 27px;
    width: 70px;
    height: 27px;
    position: absolute;
    left: 62%;
    top: 62%;
    z-index: 7;
}
.page1.current .footer{
	width: 100%;
	position: absolute;
	left: 0;
	top: 85%;
	z-index: 7
}
.page1.current .pointer,.page2.current .pointer{
	background: url(../images/pointer.png) no-repeat;
	background-size: 40px 32px;
	width: 40px;
	height: 32px;
	position: absolute;
	left: 170px;
	top: 35px;
	z-index: 8
}

.page2.current .hd,.page2.current .bd .bg,.page2.current .bd .goods,.page2.current .bd .names{
	background-size: 320px 568px;
	width: 100%;
	position: absolute;
	left: 0;
	top:0;
}

.page2.current .tips{
	background-size: 320px 568px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 76%;
    z-index: 10;

}
.page2.current .fd{
	background-size: 320px 568px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 82%;
    z-index: 20;
}
.page1.current .pointer1,.page2.current .pointer1{
	top:0;
	position: absolute;
	left: 0;
	z-index: 5;
}

.page2.current .tip-wrap{
	background:  url(../images/tip_wrap.png) no-repeat center center;
	background-size: 320px 568px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	z-index: 40;
	display: none;
}

.page3.current .hd{
	background-size:220px 110px;
	width: 100%;
	position: absolute;
	left: 0;
	top:0;
}
.page3.current .bd{
	width: 320px;
	height: 568px;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -284px;
}
.page3.current .bd .bg{
	background:  url(../images/tree3-1.png) no-repeat;
	background-size:320px 568px;
	width: 320px;
	height: 568px;
	left: -50%;
	top:50%;
	z-index: 10;

}
.page3.current .fd{
	width: 100%;
	position: absolute;
	left: 0;
	top:76%;
}
.page3.current .bd .icon{
	background:  url(../images/icon3.png) no-repeat;
	background-size: 320px 568px;
	width: 50px;
	height: 57px;
	position: absolute;
	left: 116px;
	top:224px;
	z-index: 7;
}
.page3.current .bd .icon.icon1{
	background-position:-148px -20px; 
	left: 161px;
	top: 175px;
}
.page3.current .bd .icon.icon2{
	background-position:-77px -13px; 
	left: 63px;
	top: 365px;
}
.page3.current .bd .icon.icon3{
	background-position:-7px -145px; 
	left: 78px;
	top: 286px;
}
.page3.current .bd .icon.icon4{
	background-position:-14px -79px; 
	left: 178px;
	top: 308px;
}
.page3.current .bd .icon.icon5{
	background-position:-79px -85px; 
	left: 210px;
	top: 361px;
}
.page3.current .bd .icon.icon6{
	background-position:-5px -218px; 
	width: 48px;
	height: 89px;
	left: 58px;
	top: 400px;
	z-index: 2;
}
.page3.current .bd .icon.icon9{
	background-position: -148px -20px;
    left: 150px;
    top: 375px;
}
.page3.current .bd .icon.clickBtn{
	background-position:-241px -68px; 
	width: 48px;
	height: 89px;
	left: 58px;
	top: 400px;
	z-index: 8;
}
.page3.current .bd .icon.icon7{
	background-position:-127px -82px; 
	width: 68px;
	height: 39px;
	left: 24px;
	top: 470px;
}
.page3.current .bd .lamp{
	background-image:  url(../images/lamp3-1.png);
	background-size:54px 44px;
	width: 54px;
	height: 44px;
	position: absolute;
	left: 86px;
	top:154px;
	z-index: 5;
}
.page3.current .bd .lamp.on{
	background-image:  url(../images/lamp3-3.png);
	z-index: 6;
}
.page3.current .bd .lamp.lamp2{
	left: 103px;
	top:162px;
}
.page3.current .bd .lamp.lamp3{
	left: 121px;
	top:168px;
}
.page3.current .bd .lamp.lamp4{
	left: 139px;
	top:173px;
}
.page3.current .bd .lamp.lamp5{
	left: 159px;
	top:177px;
}
.page3.current .bd .lamp.lamp6{
	left: 197px;
	top:208px;
	transform:rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.page3.current .bd .lamp.lamp7{
	left: 179px;
	top:215px;
	transform:rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.page3.current .bd .lamp.lamp8{
	left: 160px;
	top:221px;
	transform:rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.page3.current .bd .lamp.lamp9{
	left: 141px;
	top:226px;
	transform:rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.page3.current .bd .lamp.lamp10{
	left: 123px;
	top:229px;
	transform:rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.page3.current .bd .lamp.lamp11{
	left: 102px;
	top:230px;
	transform:rotate(-25deg);
	-webkit-transform: rotate(-25deg);
}
.page3.current .bd .lamp.lamp12{
	left: 80px;
	top:230px;
}
.page3.current .bd .lamp.lamp13{
	left: 61px;
	top:227px;
}
.page3.current .bd .lamp.lamp14{
	left: 35px;
	top:259px;
	transform:rotate(25deg);
	-webkit-transform: rotate(25deg);
}
.page3.current .bd .lamp.lamp15{
	left: 52px;
	top:270px;
	transform:rotate(25deg);
	-webkit-transform: rotate(25deg);
}
.page3.current .bd .lamp.lamp16{
	left: 73px;
	top:278px;
}
.page3.current .bd .lamp.lamp17{
	left: 93px;
	top:285px;
}
.page3.current .bd .lamp.lamp18{
	left: 112px;
	top:289px;
}
.page3.current .bd .lamp.lamp19{
	left: 133px;
	top:292px;
}
.page3.current .bd .lamp.lamp20{
	left: 153px;
	top:293px;
}
.page3.current .bd .lamp.lamp21{
	left: 175px;
	top:293px;
	transform:rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.page3.current .bd .lamp.lamp22{
	left: 196px;
	top:293px;
	transform:rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.page3.current .bd .lamp.lamp23{
	left: 217px;
	top:291px;
	transform:rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.page3.current .bd .lamp.lamp24{
	left: 247px;
	top:364px;
	transform:rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.page3.current .bd .lamp.lamp25{
	left: 226px;
	top:364px;
	transform:rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.page3.current .bd .lamp.lamp26{
	left: 206px;
	top:361px;
	transform:rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.page3.current .bd .lamp.lamp27{
	left: 185px;
	top:363px;
	transform:rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.page3.current .bd .lamp.lamp28{
	left: 164px;
	top:368px;
	transform:rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}
.page3.current .bd .lamp.lamp29{
	left: 144px;
	top:368px;
	transform:rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}
.page3.current .bd .lamp.lamp30{
	left: 122px;
	top:371px;
	transform:rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}
.page3.current .bd .lamp.lamp31{
	left: 99px;
	top:371px;
}
.page3.current .bd .lamp.lamp32{
	left: 79px;
	top:369px;
}
.page3.current .bd .lamp.lamp33{
	left: 59px;
	top:366px;
}
.page3.current .bd .lamp.lamp34{
	left: 39px;
	top:361px;
}
.page3.current .bd .lamp.lamp35{
	left: 18px;
	top:354px;
	transform:rotate(20deg);
	-webkit-transform: rotate(20deg);
}
.page3.current .bd .lamp.lamp36{
	left: 0;
	top:345px;
	transform:rotate(20deg);
	-webkit-transform: rotate(20deg);
}











.page4.current .hd{
	width: 100%;
	position: absolute;
	top:0;
}
.page4.current .bd{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.page4.current .bd .flowers{
	background:  url(../images/flowers.png) no-repeat;
	background-size: 270px 258px;
	width: 270px;
	height: 258px;
	position: absolute;
	top:77%;
	left:50%;
	margin-left: -135px;
	margin-top: -129px;
}
.page4.current .bd .goods{
	background-image:  url(../images/goods/box.png);
	background-size: 148px 127px;
	width: 148px;
	height: 116px;
	position: absolute;
	top:77%;
	left:50%;
	margin-left: -74px;
	margin-top: -58px;
}
.page4.current .bd .goods.good1{
	background-image:  url(../images/goods/50.png);
}
.page4.current .bd .goods.good2{
	background-image:  url(../images/goods/100.png);
}
.page4.current .bd .goods.good3{
	background-image:  url(../images/goods/tea.png);
}
.page4.current .bd .goods.good4{
	background-image:  url(../images/goods/drink.png);
}
.page4.current .bd .goods.good5{
	background-image:  url(../images/goods/oil.png);
}
.page4.current .bd .goods.good6{
	background-image:  url(../images/goods/honey.png);
}
.page4.current .fd{
	width: 320px;
	height: 130px;
	position: absolute;
	top:90%;
	left: 54%;
	margin-left:-160px;
	margin-top:-57px;
}
.page4.current .fd .txt{
	background: url(../images/btn4.png) 0 0 no-repeat;
	background-size: 291px 107px;
	width: 208px;
	height: 51px;
	position: absolute;
	display: block;
}
.page4.current .fd .txt input{
	margin:11px 0 0 16px;
	padding:6px;
	border-radius: 2px;
	border:none;
}
.page4.current .fd .btn{
	background: url(../images/btn4.png) 0 0 no-repeat;
	background-size: 291px 107px;
	position: absolute;
}
.page4.current .fd .btn.btn_submit{
	width: 69px;
	height: 44px;
	background-position:-210px -7px; 
	left: 214px;
	top: 7px;
	z-index: 9;
}
.page4.current .fd .btn.btn_success{
	width: 110px;
	height: 50px;
	background-position:0 -50px; 
	left: 0;
	top: 54px;
}
.page4.current .fd .btn.btn_other{
	width: 170px;
	height: 50px;
	background-position:-108px -50px; 
	left: 107px;
	top: 54px;
}
.page4 .fd .txt{
	display: none;
}
.page4 .fd .account{
	display: none;
}
.page4.current .fd .account{
	margin: 25px 0 0 12px;
	color: #fff;
	font-family: "FZKATJW";
	font-size: 17px; 
	font-weight: 200;
	display: none;
}

.page4.current .layer{
	background: url(../images/layer.png) no-repeat top center;
    background-size: 320px 568px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #000;
    opacity: 0.6;
    display: none;
}

/*music*/
.off {
    background-image: url(../images/normalmusic.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.rotate {
    -webkit-animation: roting 1.2s linear infinite;
    animation: roting 1.2s linear infinite;
}
#audio_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 200;
    display: none;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

/*loading*/
.loading {
    background: #BC302B;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
}
.loadbox {
    display: block;
    position: relative;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    margin-top: 50%;
    margin-left: 50%;
    left: -100px;
    top: -75px;
}
.loadbg {
    display: block;
    position: absolute;
    z-index: 1000;
    width: 200px;
    height: 150px;
    background: url(../images/loading1.gif);
    background-size: 200px 150px;
}

.bodyovery{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.5);
	z-index:30;
	display:none
}
.page.page2,.page.page3,.page.page4{display: none;}















